<title>Gestion de Proveedores</title>
<mat-toolbar class="red-toolbar">
  <div class="logo-container">
    <img src="https://stjcolima.gob.mx/assets/img/logo_stj.png" alt="Logo" class="logo-img">
  </div>
  <br>

  <div class="avatar-wrapper">
    <div *ngIf="avatarUrl" class="avatar-container">
      <img [src]="avatarUrl" alt="Avatar" class="avatar-img">
      <span class="avatar-name">{{ fullName }}</span>
      <div class="toggle-icon" (click)="toggleLogoutButton()">
        <mat-icon class="icon-right" color="primary">{{ showLogoutOptions ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
      </div>
    </div>
    <div class="logout-options" [class.show]="showLogoutOptions">
      <span (click)="logout()">Cerrar sesión</span>
    </div>
  </div>
</mat-toolbar>

<mat-toolbar class="navbar">

  <!-- Botón "Concursos" con menú desplegable -->
  <button mat-button [matMenuTriggerFor]="concursoMenu">Concursos</button>
  <mat-menu #concursoMenu="matMenu">
    <button mat-menu-item (click)="navigateToRegisterConcurso()">Crear Concurso</button>
    <button mat-menu-item (click)="navigateToListarConcursos()">Listar Concursos</button>
    <button mat-menu-item (click)="navigateToRegisterWinner()">Seleccionar Ganador</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="InvitacionProveedorMenu">Invitaciones</button>
  <mat-menu #InvitacionProveedorMenu="matMenu">
    <button mat-menu-item (click)="navigateToInvitacion()">Invitar Proveedores</button>
    <button mat-menu-item (click)="navigateToProveedoresConcursantes()">Lista de Invitaciones</button>
  </mat-menu>

  <button mat-button  (click)=" descargarExcel()">Excel</button>

</mat-toolbar>
<br>
<mat-toolbar class="gr-toolbar">
  <span class="mat-h2">Lista de proveedores</span>
</mat-toolbar>

<div style="display: flex; justify-content: center;">
  <mat-form-field appearance="fill" class="search-field" style="width: 15%; margin: 2%;">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" class="busqueda-search-input" placeholder="Ingrese su búsqueda">
  </mat-form-field>
</div>

<div *ngIf="showNoResultsMessage" class="error-message">
  <p>No se encontraron proveedores que coincidan con la búsqueda.</p>
</div>

  <div class="table-container">
    <div *ngIf="proveedores && proveedores.length > 0">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    
        <ng-container matColumnDef="id">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Id</th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.id }} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.nombre }} </td>
        </ng-container>

        <ng-container matColumnDef="primerApellido">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Primer Apellido </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.primerApellido }} </td>
        </ng-container>

        <ng-container matColumnDef="segundoApellido">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Segundo Apellido </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.segundoApellido }} </td>
        </ng-container>

        <ng-container matColumnDef="razonSocial">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Razon Social </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.razonSocial }} </td>
        </ng-container>

        <ng-container matColumnDef="estratificacion">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Estratificación </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.estratificacion }} </td>
        </ng-container>

        <ng-container matColumnDef="paisOrigen">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Pais de Origen </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.paisOrigen }} </td>
        </ng-container>

        <ng-container matColumnDef="rfc">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> RFC </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.rfc }} </td>
        </ng-container>

        <ng-container matColumnDef="INE">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> INE </th>
          <td mat-cell *matCellDef="let proveedor">
            <button mat-icon-button (click)="descargarINE($event, proveedor.user_id)">
              <mat-icon>download</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="Constancia">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Constancia </th>
          <td mat-cell *matCellDef="let proveedor">
            <button mat-icon-button (click)="descargarConstancia($event, proveedor.user_id)">
              <mat-icon>download</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="actividadEconomica">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Actividad Economica </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.actividadEconomica }} </td>
        </ng-container>

        <ng-container matColumnDef="domicilioNombre">
          <th class="sticky-header"  mat-header-cell *matHeaderCellDef> Domicilio </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.domicilioNombre }} </td>
        </ng-container>

        <ng-container matColumnDef="catGiro">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Giro </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.CatGiro?.descripcion }} </td>
        </ng-container>

        <ng-container matColumnDef="domicilioNumeroExterior">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> N° Exterior </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.domicilioNumeroExterior }} </td>
        </ng-container>

        <ng-container matColumnDef="domicilioNumeroInterior">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> N° Interior </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.domicilioNumeroInterior }} </td>
        </ng-container>

        <ng-container matColumnDef="domicilioNombreAsentamiento">
          <th  class="sticky-header"mat-header-cell *matHeaderCellDef> Asentamiento </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.domicilioNombreAsentamiento }} </td>
        </ng-container>

        <ng-container matColumnDef="domicilioClaveLocalidad">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Clave de Localidad </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.domicilioClaveLocalidad }} </td>
        </ng-container>

        <ng-container matColumnDef="domicilioNombreLocalidad">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Nombre de la localidad </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.domicilioNombreLocalidad }} </td>
        </ng-container>

        <ng-container matColumnDef="domicilioClaveMunicipio">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Clave del Municipio </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.domicilioClaveMunicipio }} </td>
        </ng-container>

        <ng-container matColumnDef="domicilioNombreMunicipio">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Nombre del Municipio </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.domicilioNombreMunicipio }} </td>
        </ng-container>

        <ng-container matColumnDef="domicilioClaveEntidad">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Clave de la Entidad </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.domicilioClaveEntidad }} </td>
        </ng-container>

        <ng-container matColumnDef="domicilioCP">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Codigo Postal </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.domicilioCP }} </td>
        </ng-container>

        <ng-container matColumnDef="extranjeroPais">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Pais Extranjero </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.extranjeroPais }} </td>
        </ng-container>

        <ng-container matColumnDef="extranjeroCiudad">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Ciudad Extranjera </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.extranjeroCiudad }} </td>
        </ng-container>

        <ng-container matColumnDef="extranjeroCalle">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Calle Extranjera </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.extranjeroCalle }} </td>
        </ng-container>

        <ng-container matColumnDef="extranjeroNumero">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Numero Extranjero </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.extranjeroNumero }} </td>
        </ng-container>

        <ng-container matColumnDef="representanteLegalNombre">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Nombre del Representante Legal </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.representanteLegalNombre }} </td>
        </ng-container>

        <ng-container matColumnDef="representanteLegalPrimerApellido">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Primer Apellido del Representante Legal </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.representanteLegalPrimerApellido }} </td>
        </ng-container>

        <ng-container matColumnDef="representanteLegalSegundoApellido">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Segundo Apellido del Representante Legal </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.representanteLegalSegundoApellido }} </td>
        </ng-container>

        <ng-container matColumnDef="representanteLegalTelefono">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Telefono del Representante Legal </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.representanteLegalTelefono }} </td>
        </ng-container>

        <ng-container matColumnDef="representanteLegalMail">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Email del Representante Legal </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.representanteLegalMail }} </td>
        </ng-container>

        <ng-container matColumnDef="website">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Sitio Web </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.website }} </td>
        </ng-container>

        <ng-container matColumnDef="telefono">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Telefono </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.telefono }} </td>
        </ng-container>

        <ng-container matColumnDef="catSexo">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Sexo </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.catSexo }} </td>
        </ng-container>

        <ng-container matColumnDef="catOrigenId">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Origen </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.catOrigenId }} </td>
        </ng-container>

        <ng-container matColumnDef="catEntidadFederativaId">
          <th  class="sticky-header" mat-header-cell *matHeaderCellDef> Entidad Federativa </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.catEntidadFederativaId }} </td>
        </ng-container>

        <ng-container matColumnDef="catRealizaSubcontratacionesId">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Subcontrataciones </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.catRealizaSubcontratacionesId }} </td>
        </ng-container>

        <ng-container matColumnDef="catDomicilioVialidadId">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Domicilio Vialidad </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.catDomicilioVialidadId }} </td>
        </ng-container>

        <ng-container matColumnDef="catDomicilioTipoAsentamientoId">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Tipo de Asentamiento </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.catDomicilioTipoAsentamientoId }} </td>
        </ng-container>

        <ng-container matColumnDef="catDomicilioEntidadFederativaId">
          <th  class="sticky-header" mat-header-cell *matHeaderCellDef> Domicilio Entidad Federativa </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.catDomicilioEntidadFederativaId }} </td>
        </ng-container>

        <ng-container matColumnDef="catRepresentanteLegalTipoAcreditacionId">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef> Tipo de Acreditación del Representante Legal </th>
          <td mat-cell *matCellDef="let proveedor"> {{ proveedor.catRepresentanteLegalTipoAcreditacionId }} </td>
        </ng-container>

        

        <tr mat-row (click)="onRowClicked(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div *ngIf="!proveedores">
      <p>Cargando proveedores...</p>
    </div>
    <div *ngIf="proveedores && proveedores.length === 0">
      <p>No hay proveedores disponibles.</p>
    </div>
  </div>
  <p class="copyright">© 2024, PODER JUDICIAL DEL ESTADO DE COLIMA  V.1.0</p>
