<title>Registro de Usuarios</title>
<script src="https://www.google.com/recaptcha/api.js?render=6Lf35JcpAAAAADm62RxGEYSuzBZHg9sUDgdt6ZQz" async defer></script>

<body>
  <div class="signin">
    <div class="back-img"></div>
    <div class="form-section">
      <div *ngIf="showMessage" class="alert alert-success">
        {{ message }}
        <a href="/login">Regresar a inicio</a>
      </div>

      <form *ngIf="!isLoggedIn" (ngSubmit)="markAsSubmitted(); onSubmit()" [formGroup]="loginForm">
        <div class="message" *ngIf="showMessage">{{ message }}</div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" placeholder="Nombre completo o Razón social" formControlName="username" (blur)="loginForm.get('username')?.markAsTouched()">
          <div *ngIf="loginForm.get('username')?.hasError('required') && (loginForm.get('username')?.touched || submitted)" class="alert-danger">
            Favor de ingresar el nombre
          </div>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input pattern=".{6,}" class="mdl-textfield__input" placeholder="Correo electronico" formControlName="correo" (blur)="loginForm.get('correo')?.markAsTouched()">
          <div *ngIf="loginForm.get('correo')?.hasError('required') && (loginForm.get('correo')?.touched || submitted)" class="alert-danger">
            Favor de ingresar correo electronico
          </div>
          <div *ngIf="loginForm.get('correo')?.hasError('invalidEmail') && (loginForm.get('correo')?.touched || submitted)" class="alert-danger">
            Ingrese un correo electrónico válido
          </div>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input pattern=".{6,}" class="mdl-textfield__input" placeholder="RFC" formControlName="rfc" maxlength="13" (blur)="loginForm.get('rfc')?.markAsTouched()">
          <div *ngIf="loginForm.get('rfc')?.hasError('required') && (loginForm.get('rfc')?.touched || submitted)" class="alert-danger">
            Favor de ingresar su RFC
          </div>
          <div *ngIf="loginForm.get('rfc')?.hasError('invalidRFC') && (loginForm.get('rfc')?.touched || submitted)" class="alert-danger">
            El RFC debe tener 12 o 13 caracteres.
          </div>
        </div>
        <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" (success)="onCaptchaResolved($event)" class="captcha-container"></ngx-recaptcha2>
        <button [disabled]="loginForm.invalid" class="sign-in-btn">Registrar</button>
      </form>
    </div>
  </div>

  <p class="copyright">© 2024, PODER JUDICIAL DEL ESTADO DE COLIMA</p>
</body>
