<br>
<!-- file-upload.component.html -->
<div class="uploadFiles">
  <!-- Primera mat-card (Subida de Archivos) -->
  <mat-card
    *ngIf="!archivosSubidos && (!archivosAlmacenados || (archivosAlmacenados && !archivosAlmacenados.ine && !archivosAlmacenados.constancia))"
    style="width: 500px; height: 200px;">
    <form [formGroup]="fileUploadForm" (ngSubmit)="onSubmit()" class="form-group">
      <div class="file-upload-container">
        <div class="file-upload">
          <label for="archivoINE">INE:</label>
          <div class="file-input-container">
            <input type="file" id="archivoINE" (change)="onFileChange($event, 'ine')" formControlName="archivoINE">
            <span *ngIf="selectedFiles.ine" class="file-name">
              {{ selectedFiles.ine.name }}
              <button type="button" class="delete-button" (click)="deleteFile('ine')">X</button>
            </span>
          </div>
        </div>
        <div class="file-upload">
          <label for="archivoConstancia">Constancia de situación fiscal:</label>
          <div class="file-input-container">
            <input type="file" id="archivoConstancia" (change)="onFileChange($event, 'constancia')"
              formControlName="archivoConstancia">
            <span *ngIf="selectedFiles.constancia" class="file-name">
              {{ selectedFiles.constancia.name }}
              <button type="button" class="delete-button" (click)="deleteFile('constancia')">X</button>
            </span>
          </div>
        </div>
      </div>
      <div class="button-container">
        <button type="button" class="submit-button" (click)="onSubmit()">Subir Archivos</button>
      </div>
    </form>
  </mat-card>
  <!-- Segunda mat-card (Acciones) -->
  <div class="message-container"
    *ngIf="archivosSubidos || (archivosAlmacenados && (archivosAlmacenados.ine || archivosAlmacenados.constancia))">
    <br>
    <mat-card class="mx-auto" style="width: 400px; height: 200px;">
      <div class="action-table">
        <table>
          <thead>
            <tr>
              <th></th>
              <th style="text-align:center">Descargar</th>
              <th style="text-align:center">Remplazar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="archivosAlmacenados && archivosAlmacenados.ine">
              <td>INE</td>
              <td><button class="button-spacing" (click)="downloadINE()"><mat-icon>download</mat-icon></button></td>
              <td><button class="button-spacing"
                  (click)="openFileReplaceDialog('ine')"><mat-icon>edit</mat-icon></button></td>
            </tr>
            <tr *ngIf="archivosAlmacenados && archivosAlmacenados.constancia">
              <td>Constancia de Situación Fiscal</td>
              <td><button class="button-spacing" (click)="downloadConstancia()"><mat-icon>download</mat-icon></button>
              </td>
              <td><button class="button-spacing"
                  (click)="openFileReplaceDialog('constancia')"><mat-icon>edit</mat-icon></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card>
  </div>
</div>