/* file-upload.component.css (o tu archivo de estilos) */
.uploadFiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding-top: 1%;
    min-height: 450px;
    width: 600px;
    box-shadow: 0px 30px 125px -5px #000;
    background-color: rgba(255, 255, 255, 1);
    margin: auto;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .file-upload-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .file-upload {
    margin-bottom: 10px;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="file"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: rgb(165, 1, 1);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #000000;
  }
  
  .file-input-container {
    display: flex;
    align-items: center;
  }
  
  .file-name {
    margin-right: 10px;
  }
  
  .delete-button {
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 10%;
    margin-left: 5px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #ff6666;
  }
  
  .action-table thead th{
    text-align: center;
  }

  .mat-card {
    width: 3000px;
    height: 2000px;
  }
  
  .button-spacing {
    margin-right: 20px; /* Puedes ajustar la cantidad de espacio según tus necesidades */
  }

  .center-text {
    text-align: center;
  }
  .button-cell {
    padding-top: 20px; /* Aj}usta según sea necesario */
  }
