
<form [formGroup]="proveedorForm" enctype="multipart/form-data" (ngSubmit)="submitForm()" class="registerproveedor">
  <div class="mat-form-field mat-form-field-spacing "></div>
  <title>Registro de Proveeedores</title>
  <div class="back-img"></div>
  <h1>Registro de Proveedores</h1>
  <div class="DatosPersonal">
    <h2>Datos.</h2>

    <div style="width: 93%; margin: auto;">
      <table class="form-group" cellspacing="0">
        <tr>
          <td>
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Nombre(s):</mat-label>
              <input matInput type="text" id="nombre" formControlName="nombre" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Primer apellido:</mat-label>
              <input matInput type="text" id="primerApellido" formControlName="primerApellido" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Segundo apellido:</mat-label>
              <input matInput type="text" id="segundoApellido" formControlName="segundoApellido" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>

    <div style="width: 93%; margin: auto;">
      <table class="form-group" cellspacing="0">
        <tr>
          <td>
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Razon social:</mat-label>
              <input matInput type="text" id="razonSocial" formControlName="razonSocial" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Estratificación:</mat-label>
              <input matInput type="text" id="estratificacion" formControlName="estratificacion" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Pais de origen:</mat-label>
              <input matInput type="text" id="paisOrigen" formControlName="paisOrigen" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>

    <div style="max-width: 500px; margin: auto;">
      <table class="form-group" cellspacing="0">
        <tr>
          <td>
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>RFC:</mat-label>
              <input matInput type="text" id="rfc" formControlName="rfc" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Actividad economica:</mat-label>
              <input matInput type="text" id="actividadEconomica" formControlName="actividadEconomica" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
  </div>
    <!-------------------------------------------------> 
  <br>
  <br>
  <div class="DatosResidencia">
    <h2>Residencia.</h2>
  
    <div style="width: 93%; margin: auto;">
      <table class="form-group" cellspacing="0">
        <tr>
          <td>
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Domicilio:</mat-label>
              <input matInput type="text" id="domicilioNombre" formControlName="domicilioNombre" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Numero exterior:</mat-label>
              <input matInput type="text" id="domicilioNumeroExterior" formControlName="domicilioNumeroExterior" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Numero interior:</mat-label>
              <input matInput type="text" id="domicilioNumeroInterior" formControlName="domicilioNumeroInterior" >
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
  
    <div style="width: 93%; margin: auto;">
      <table class="form-group" cellspacing="0">
        <tr>
          <td>
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Nombre del asentamiento:</mat-label>
              <input matInput type="text" id="domicilioNombreAsentamiento" formControlName="domicilioNombreAsentamiento" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Clave localidad:</mat-label>
              <input matInput type="text" id="domicilioClaveLocalidad" formControlName="domicilioClaveLocalidad" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Nombre de localidad:</mat-label>
              <input matInput type="text" id="domicilioNombreLocalidad" formControlName="domicilioNombreLocalidad" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
  
    <div style="width: 93%; margin: auto;">
      <table class="form-group" cellspacing="0">
        <tr>
          <td>
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Clave de municipio:</mat-label>
              <input matInput type="text" id="domicilioClaveMunicipio" formControlName="domicilioClaveMunicipio" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Nombre del municipio:</mat-label>
              <input matInput type="text" id="domicilioNombreMunicipio" formControlName="domicilioNombreMunicipio" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Clave de entidad:</mat-label>
              <input matInput type="text" id="domicilioClaveEntidad" formControlName="domicilioClaveEntidad" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
  
    <div style="width: 700px; margin: auto;">
      <table class="form-group">
        <tr>
          <td>
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Codigo postal:</mat-label>
              <input matInput type="text" id="domicilioCP" formControlName="domicilioCP" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>¿Es extranjero?</mat-label>
              <mat-select formControlName="esExtranjero" (selectionChange)="toggleExtranjero()">
                <mat-option value="1">No</mat-option>
                <mat-option value="2">Sí</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <!-- Campos para extranjero (mostrados condicionalmente) -->
            <div *ngIf="proveedorForm.get('esExtranjero')?.value === '2'">
              <mat-form-field appearance="fill">
                <mat-label>País:</mat-label>
                <input matInput type="text" id="extranjeroPais" formControlName="extranjeroPais">
              </mat-form-field>
            </div>
          </td>
        </tr>
      </table>
    </div>
  
    <div style="width: 700px; margin: auto;">
      <table class="form-group">
        <tr>
          <td>
            <div *ngIf="proveedorForm.get('esExtranjero')?.value === '2'">
              <mat-form-field appearance="fill">
                <mat-label>Ciudad:</mat-label>
                <input matInput type="text" id="extranjeroCiudad" formControlName="extranjeroCiudad">
              </mat-form-field>
            </div>
          </td>
          <td>
            <div *ngIf="proveedorForm.get('esExtranjero')?.value === '2'">
              <mat-form-field appearance="fill">
                <mat-label>Calle:</mat-label>
                <input matInput type="text" id="extranjeroCalle" formControlName="extranjeroCalle">
              </mat-form-field>
            </div>
          </td>
          <td>
            <div *ngIf="proveedorForm.get('esExtranjero')?.value === '2'">
              <mat-form-field appearance="fill">
                <mat-label>Número:</mat-label>
                <input matInput type="text" id="extranjeroNumero" formControlName="extranjeroNumero">
              </mat-form-field>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!--------------REPRESENTANTE LEGAL-------------------------->
  <br>
  <br>
  <div class="DatosRepresentacion">
    <h2>Representación legal.</h2>

<div style="width: 93%; margin: auto;">
  <table class="form-group" cellspacing="0">
    <tr>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Nombre:</mat-label>
          <input matInput type="text" id="representanteLegalNombre" formControlName="representanteLegalNombre" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Primer apellido:</mat-label>
          <input matInput type="text" id="representanteLegalPrimerApellido" formControlName="representanteLegalPrimerApellido" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Segundo apellido:</mat-label>
          <input matInput type="text" id="representanteLegalSegundoApellido"
            formControlName="representanteLegalSegundoApellido" required>
        </mat-form-field>
      </td>
    </tr>
  </table>
</div>

<div style="width: 93%; margin: auto;">
  <table class="form-group" cellspacing="0">
    <tr>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>RL Teléfono:</mat-label>
          <input matInput type="text" id="representanteLegalTelefono" formControlName="representanteLegalTelefono" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Correo electrónico:</mat-label>
          <input matInput type="text" id="representanteLegalMail" formControlName="representanteLegalMail" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Website:</mat-label>
          <input matInput type="text" id="website" formControlName="website" required>
        </mat-form-field>
      </td>
    </tr>
  </table>
</div>
    <div style="width: 93%; margin: auto;">
      <table class="form-group" cellspacing="0">
        <tr>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Teléfono:</mat-label>
              <input matInput type="text" id="telefono" formControlName="telefono" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Sexo:</mat-label>
              <mat-select formControlName="catSexoId" id="catSexoId">
                <mat-option *ngFor="let SexoId of catSexoList" [value]="SexoId.id">{{ SexoId.descripcion }}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Tipo de acreditación:</mat-label>
              <mat-select formControlName="catRepresentanteLegalTipoAcreditacionId"
                id="catRepresentanteLegalTipoAcreditacionId">
                <mat-option *ngFor="let RepresentanteLegalTipoAcreditacion of catRepresentanteLegalTipoAcreditacionList"
                  [value]="RepresentanteLegalTipoAcreditacion.id">{{ RepresentanteLegalTipoAcreditacion.descripcion
                  }}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>

    <div style="width: 93%; margin: auto;">
      <table class="form-group" cellspacing="0">
        <tr>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Subcontrataciones:</mat-label>
              <mat-select formControlName="catRealizaSubcontratacionesId" id="catRealizaSubcontratacionesId">
                <mat-option *ngFor="let RealizaSubcontrataciones of catRealizaSubcontratacionesList"
                  [value]="RealizaSubcontrataciones.id">{{ RealizaSubcontrataciones.descripcion }}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Origen:</mat-label>
              <mat-select formControlName="catOrigenId" id="catOrigenId">
                <mat-option *ngFor="let Origen of catOrigenList" [value]="Origen.id">{{ Origen.descripcion }}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Entidad federativa:</mat-label>
              <mat-select formControlName="catEntidadFederativaId" id="catEntidadFederativaId">
                <mat-option *ngFor="let EntidadFederativa of catEntidadFederativaList" [value]="EntidadFederativa.id">
                  {{ EntidadFederativa.descripcion }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
<div style="width: 93%; margin: auto;">
  <table class="form-group" cellspacing="0">
    <tr>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Domicilio viabilidad:</mat-label>
          <mat-select formControlName="catDomicilioVialidadId" id="catDomicilioVialidadId">
            <mat-option *ngFor="let DomicilioVialidad of catDomicilioVialidadList" [value]="DomicilioVialidad.id">
              {{ DomicilioVialidad.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Tipo de asentamiento:</mat-label>
          <mat-select formControlName="catDomicilioTipoAsentamientoId" id="catDomicilioTipoAsentamientoId">
            <mat-option *ngFor="let DomicilioTipoAsentamiento of catDomicilioTipoAsentamientoList"
              [value]="DomicilioTipoAsentamiento.id">{{ DomicilioTipoAsentamiento.descripcion }}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Domicilio Entidad Federativa:</mat-label>
          <mat-select formControlName="catDomicilioEntidadFederativaId" id="catDomicilioEntidadFederativaId">
            <mat-option *ngFor="let DomicilioEntidadFederativa of catDomicilioEntidadFederativaList"
              [value]="DomicilioEntidadFederativa.id">{{ DomicilioEntidadFederativa.descripcion }}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>
</div>

<div style="max-width: 260px; margin: auto;">
  <table class="form-group" cellspacing="0">
    <tr>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Giro:</mat-label>
          <mat-select formControlName="catGiroId" id="catGiroId">
            <mat-option *ngFor="let Giro of catGiroList" [value]="Giro.id">{{ Giro.descripcion }}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>
</div>
</div>

  <button class="send-in-btn" [disabled]="formSubmitted">Guardar</button>
  <div id="mensaje-exito" class="mensaje-exito" style="display: none;"></div>

  <h2></h2>
</form>