<br>
<form [formGroup]="proveedorForm" enctype="multipart/form-data" (ngSubmit)="submitForm()" class="registerproveedor">
  <div class="mat-form-field mat-form-field-spacing "></div>
  <title>Registro de Proveeedores</title>
  <div class="back-img"></div>
  <h1>Registro de Proveedores</h1>
  <div class="DatosPersonal">
    <h2>Datos.</h2>

    <div class="form-group">
      <label for="nombre" class="label">Nombre:</label>
      <input type="text" id="nombre" formControlName="nombre" class="input">
    </div>

    <div class="form-group">
      <label for="primerApellido" class="label">Primer apellido:</label>
      <input type="text" id="primerApellido" formControlName="primerApellido" class="input">
    </div>

    <div class="form-group">
      <label for="segundoApellido" class="label">Segundo apellido:</label>
      <input type="text" id="segundoApellido" formControlName="segundoApellido" class="input">
    </div>

    <div class="form-group">
      <label for="razonSocial" class="label">Razon social:</label>
      <input type="text" id="razonSocial" formControlName="razonSocial" class="input">
    </div>

    <div class="form-group">
      <label for="estratificacion" class="label">Estratificación:</label>
      <input type="text" id="estratificacion" formControlName="estratificacion" class="input">
    </div>

    <div class="form-group">
      <label for="paisOrigen" class="label">Pais de origen:</label>
      <input type="text" id="paisOrigen" formControlName="paisOrigen" class="input">
    </div>

    <div class="form-group">
      <label for="rfc" class="label">RFC:</label>
      <input type="text" id="rfc" formControlName="rfc" class="input">
    </div>

    <div class="form-group">
      <label for="actividadEconomica" class="label">Actividad economica:</label>
      <input type="text" id="actividadEconomica" formControlName="actividadEconomica" class="input">
    </div>
  </div>
  <br>
  <br>
  <div class="DatosResidencia">
    <h2>Residencia.</h2>
    <div class="form-group">
      <label for="domicilioNombre" class="label">Domicilio:</label>
      <input type="text" id="domicilioNombre" formControlName="domicilioNombre" class="input">
    </div>

    <div class="form-group">
      <label for="domicilioNumeroExterior" class="label">Numero exterior:</label>
      <input type="text" id="domicilioNumeroExterior" formControlName="domicilioNumeroExterior" class="input">
    </div>

    <div class="form-group">
      <label for="domicilioNumeroInterior" class="label">Numero interior:</label>
      <input type="text" id="domicilioNumeroInterior" formControlName="domicilioNumeroInterior" class="input">
    </div>

    <div class="form-group">
      <label for="domicilioNombreAsentamiento" class="label">Nombre del asentamiento:</label>
      <input type="text" id="domicilioNombreAsentamiento" formControlName="domicilioNombreAsentamiento" class="input">
    </div>

    <div class="form-group">
      <label for="domicilioClaveLocalidad" class="label">Clave localidad:</label>
      <input type="text" id="domicilioClaveLocalidad" formControlName="domicilioClaveLocalidad" class="input">
    </div>

    <div class="form-group">
      <label for="domicilioNombreLocalidad" class="label">Nombre de localidad:</label>
      <input type="text" id="domicilioNombreLocalidad" formControlName="domicilioNombreLocalidad" class="input">
    </div>

    <div class="form-group">
      <label for="domicilioClaveMunicipio" class="label">Clave de municipio:</label>
      <input type="text" id="domicilioClaveMunicipio" formControlName="domicilioClaveMunicipio" class="input">
    </div>

    <div class="form-group">
      <label for="domicilioNombreMunicipio" class="label">Nombre del municipio:</label>
      <input type="text" id="domicilioNombreMunicipio" formControlName="domicilioNombreMunicipio" class="input">
    </div>


    <div class="form-group">
      <label for="domicilioClaveEntidad" class="label">Clave de entidad:</label>
      <input type="text" id="domicilioClaveEntidad" formControlName="domicilioClaveEntidad" class="input">
    </div>

    <div class="form-group">
      <label for="domicilioCP" class="label">Codigo postal</label>
      <input type="text" id="domicilioCP" formControlName="domicilioCP" class="input">
    </div>

    <br>
    <br>
    <div class="form-group">
      <label for="extranjero" class="label">¿Es extranjero?</label>
      <select id="extranjero" formControlName="esExtranjero" class="input" (change)="toggleExtranjero()">
        <option value="1">No</option>
        <option value="2">Sí</option>
      </select>
    </div>
    <!-- Campos para extranjero -->
    <div *ngIf="esExtranjero">
      <div class="form-group">
        <label for="extranjeroPais" class="label">País:</label>
        <input type="text" id="extranjeroPais" formControlName="extranjeroPais" class="input">
      </div>

      <div class="form-group">
        <label for="extranjeroCiudad" class="label">Ciudad:</label>
        <input type="text" id="extranjeroCiudad" formControlName="extranjeroCiudad" class="input">
      </div>

      <div class="form-group">
        <label for="extranjeroCalle" class="label">Calle:</label>
        <input type="text" id="extranjeroCalle" formControlName="extranjeroCalle" class="input">
      </div>

      <div class="form-group">
        <label for="extranjeroNumero" class="label">Número:</label>
        <input type="text" id="extranjeroNumero" formControlName="extranjeroNumero" class="input">
      </div>
    </div>

  </div>


  <!--------------REPRESENTANTE LEGAL-------------------------->
  <br>
  <br>
  <div class="DatosRepresentacion">
    <h2>Representación legal.</h2>

    <div class="form-group">
      <label for="representanteLegalNombre" class="label">Nombre:</label>
      <input type="text" id="representanteLegalNombre" formControlName="representanteLegalNombre" class="input">
    </div>

    <div class="form-group">
      <label for=" representanteLegalPrimerApellido" class="label">Primer apellido:</label>
      <input type="text" id="representanteLegalPrimerApellido" formControlName="representanteLegalPrimerApellido"
        class="input">
    </div>

    <div class="form-group">
      <label for=" representanteLegalSegundoApellido" class="label">Segundo apellido:</label>
      <input type="text" id="representanteLegalSegundoApellido" formControlName="representanteLegalSegundoApellido"
        class="input">
    </div>

    <div class="form-group">
      <label for="representanteLegalTelefono" class="label">RL Telefono:</label>
      <input type="text" id="representanteLegalTelefono" formControlName="representanteLegalTelefono" class="input">
    </div>

    <div class="form-group">
      <label for="representanteLegalMail" class="label">Correo electronico:</label>
      <input type="text" id="representanteLegalMail" formControlName="representanteLegalMail" class="input">
    </div>

    <!---------------------------------------------------->
    <div class="form-group">
      <label for="website" class="label">Website:</label>
      <input type="text" id="website" formControlName="website" class="input">
    </div>

    <div class="form-group">
      <label for="telefono" class="label">Telefono:</label>
      <input type="text" id="telefono" formControlName="telefono" class="input">
    </div>

    <div class="form-group">
      <label for="catSexoId" class="label">Sexo:</label>
      <select formControlName="catSexoId" id="catSexoId" class="input">
        <option *ngFor="let SexoId of catSexoList " [value]="SexoId.id">{{ SexoId.descripcion }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="catRepresentanteLegalTipoAcreditacionId" class="label">Tipo de acreditacion:</label>
      <select formControlName="catRepresentanteLegalTipoAcreditacionId" id="catRepresentanteLegalTipoAcreditacionId"
        class="input">
        <option *ngFor="let RepresentanteLegalTipoAcreditacion of catRepresentanteLegalTipoAcreditacionList"
          [value]="RepresentanteLegalTipoAcreditacion.id">{{ RepresentanteLegalTipoAcreditacion.descripcion }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="catRealizaSubcontratacionesId" class="label">Subcontrataciones:</label>
      <select formControlName="catRealizaSubcontratacionesId" id="catRealizaSubcontratacionesId" class="input">
        <option *ngFor="let RealizaSubcontrataciones  of catRealizaSubcontratacionesList "
          [value]="RealizaSubcontrataciones.id">{{ RealizaSubcontrataciones.descripcion }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="catOrigenId" class="label">Origen:</label>
      <select formControlName="catOrigenId" id="catOrigenId" class="input">
        <option *ngFor="let Origen  of catOrigenList " [value]="Origen.id">{{ Origen.descripcion }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="catEntidadFederativaId" class="label">Entidad federativa:</label>
      <select formControlName="catEntidadFederativaId" id="catEntidadFederativaId" class="input">
        <option *ngFor="let EntidadFederativa  of catEntidadFederativaList " [value]="EntidadFederativa.id">{{
          EntidadFederativa.descripcion }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="catDomicilioVialidadId" class="label">Domicilio viabilidad:</label>
      <select formControlName="catDomicilioVialidadId" id="catDomicilioVialidadId" class="input">
        <option *ngFor="let DomicilioVialidad  of catDomicilioVialidadList  " [value]="DomicilioVialidad.id">{{
          DomicilioVialidad.descripcion }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="catDomicilioTipoAsentamientoId" class="label">Tipo de asentamiento:</label>
      <select formControlName="catDomicilioTipoAsentamientoId" id="catDomicilioTipoAsentamientoId" class="input">
        <option *ngFor="let DomicilioTipoAsentamiento  of catDomicilioTipoAsentamientoList  "
          [value]="DomicilioTipoAsentamiento.id">{{ DomicilioTipoAsentamiento.descripcion }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="catDomicilioEntidadFederativaId" class="label">Domicilio Entidad Federativa:</label>
      <select formControlName="catDomicilioEntidadFederativaId" id="catDomicilioEntidadFederativaId" class="input">
        <option *ngFor="let DomicilioEntidadFederativa  of catDomicilioEntidadFederativaList   "
          [value]="DomicilioEntidadFederativa.id">{{ DomicilioEntidadFederativa.descripcion }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="catGiroId" class="label">Giro:</label>
      <select formControlName="catGiroId" id="catGiroId" class="input">
        <option *ngFor="let Giro of catGiroList   "
          [value]="Giro.id">{{ Giro.descripcion }}</option>
      </select>
    </div>


  </div>

  <button class="send-in-btn" [disabled]="formSubmitted">Guardar</button>
  <div id="mensaje-exito" class="mensaje-exito" style="display: none;"></div>

  <h2></h2>
</form>