<title>Solicitud de restablecimiento</title>
<script src="https://www.google.com/recaptcha/api.js?render=6Lf35JcpAAAAADm62RxGEYSuzBZHg9sUDgdt6ZQz" async defer></script>
<body>
    <div class="signin">
      <div class="back-img"></div>
      <div class="form-section text-center">
        <div class="col-md-6 offset-md-3">
          <h2>Solicitud de restablecimiento de contraseña</h2>
          <div *ngIf="!token" class="form-section">
            <p class="text-center">Ingrese su correo electrónico registrado para solicitar una nueva contraseña. Se enviará un enlace a su correo electrónico para restablecer su contraseña.</p>
            <input type="email" [(ngModel)]="email" placeholder="Correo electrónico" class="mdl-textfield__input">
            
            <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" (success)="onCaptchaResolved($event)" class="captcha-container"></ngx-recaptcha2>
            <button (click)="requestPasswordReset()" [disabled]="isRequestingReset" class="my-custom-button">Enviar solicitud</button>
            <div *ngIf="isRequestingReset" class="loading-overlay">
              <mat-spinner diameter="100" color="#770000"></mat-spinner>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <p class="copyright">© 2024, PODER JUDICIAL DEL ESTADO DE COLIMA</p>
  